/* your styles go here */

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Arapey');

.sidebar-heading a {
	color: #595c60; /* dark grey */
	font-size: 44px;
	font-family: 'Montserrat'
}

.sidebar-heading a:hover{
	color: #fc4445; /* red */
}

.sidebar-p {
	color:  #fc4445;
	font-family: 'Arapey';
	font-size: 20px;
}

.row-offcanvas-left {
	background-color: #f4feff;
}

.box-masonry-text {
	background-color: #fffcf4;
}

h4 a {
	color: #8e8d8a;
	font-family: 'Lato'
}

h4 a:hover {
	background-color: #e98074;
	font-size: 18px
}

.box-masonry-description p {
	font-family: 'Arapey'
}


.white-background , .white-background .row , .content-column-content {
	background-color: #fcfeff
}

.white-background {
	background-color: #fcfeff
}

h1 {
	color: #8e8d8a;
	font-size: 38px;
	font-family: 'Montserrat';
}

.content-column-content h1 {
	font-family: 'Lato';
	color: #55Bcc9
}

.content-column-content h1+ p , h4 {
	font-family: 'Arapey';
	color: #fc4445;
	font-size: 24px
}

.social--big a {
	color: #97caef
}

a, a:visited, a:active {
  text-decoration: none;
  border-bottom: 1px #55BCC9 dotted;
}

a:hover {
  text-decoration: underline;
  border: none;
}
